@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-rgb: white;
  --bg-start-rgb: #040611;
  --bg-end-rgb: #040611;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-rgb: white;
    --bg-start-rgb: #040611;
    --bg-end-rgb: #040611
  }
}

/* body {
  color: var(--fg-rgb);
  background: linear-gradient(
      to left,
      transparent,
      var(--bg-end-rgb)
    )
    var(--bg-start-rgb);
} */

body {
  color: white;
  background: #040611;
  font-family: Helvetica, Arial, sans-serif;
} 

mark {
  background: #233495;
  color: white;
}

.paper {
  background-color: #FCF5E5;
}

.lore-item {
  background-color: #191A36;
  padding: 2em;
  margin-top: 2em;
}

.plus {
  width: 30px;
  height: 30px;
  background-color: transparent;
  }
  
  .plus::before {
    content: "+";
    height:30px;
    width:30px;
    font-size:24px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-family:'Courier New', Courier, monospace;
    color:gray;
  }

.cross {
    width: 30px;
    height: 30px;
    background-color: transparent;
    }
    
    .cross::before {
      content: "-";
      height:30px;
      width:30px;
      font-size:24px;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:center;
      font-family:'Courier New', Courier, monospace;
      color:gray;
    }
